body {
    background-color: #e0e8f0;
    font-family: Segoe UI, Helvetica, sans;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.head-line {
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin: 0;
    min-width: 280px;
}

.login-box {
    display: block;
    position: absolute;
    width: 200px;
    margin-left: calc(50% - 100px);
    margin-top: calc(25% - 50px);
    background-color: #a0b0c0;
}

.logoff-box {
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    bottom: 0;
    background-color: #a0b0c0;
}

.select-box {
    display: none;
    position: absolute;
    top: 116px;
    width: 200px;
}

select {
    padding: 4px 8px;
}

.contact-box {
    display: none;
    position: absolute;
    top: 148px;
    width: calc(100% - 16px);
    height: calc(100% - 210px);
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
}

.contact-record {
    height: 280px;
    border-bottom: 1px solid;
}
.barcode-record {
    height: 110px;
    border-bottom: 1px solid;
}
.qrcode-record {
    height: 160px;
    border-bottom: 1px solid;
}
.bcard-record {
    height: 400px;
    border-bottom: 1px solid;
}
.result-box {
    display: none;
    position: absolute;
    top: 148px;
    width: calc(100% - 16px);
    height: calc(100% - 210px);
    background-color: #f0f0f0;
    overflow: auto;
}

th {
    color: #f0f0f0;
    background-color: #8090a0;
}
table, th, td {
    border: none;
}
th, td {
    white-space: nowrap;
}

.edit-label {
    margin: 8px;
    font-size: 12px;
}

.edit-box {
    padding: 4px 8px;
    margin: 0 6px;
    width: calc(100% - 30px);
    height: 24px;
    font-size: 16px;
}
img.edit-box {
    max-width: 480px;
    height: auto
}

textarea.edit-box {
    height: 80px;
}

.push-button {
    font-size: 20px;
    padding: 4px 8px;
    margin: 8px;
    width: 100px;
    height: 32px;
    margin-left: calc(50% - 50px);
}

.error-box {
    display: block;
    position: absolute;
    color: red;
    width: calc(100% - 128px);
    bottom: 0px;
}